/* Dropdown Styles */
.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: var(--size-half);
    background-color: var(--gray-0);
    border: 1px solid var(--gray-3);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
    padding: var(--size-half) 0;
    min-width: 150px;
    z-index: var(--z-index-3);
    list-style: none;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    display: block;
    padding: var(--size-1) var(--size-3);
    text-decoration: none;
    color: var(--gray-8);
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: var(--nav-btn-bg-color);
}
